@font-face{
    font-family: "SF Pro Display";
    src: url("fonts/sfpro/SFPRODISPLAYBOLD.OTF")
}

body{
    background-color: #00C95705;
    font-family: "SF Pro Display";
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    /* height: 100vh; */
    width: 100vw;
}

.ft{
    width: 438px;
    height: 438px;
    border-radius: 12px;
    box-shadow: 1px 6px 6px #27507A50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: #27507A;
    font-size: 1.5em;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70px;
}

.link {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 1px 6px 6px #27507A50;
    border: 1px solid #27507A;
}

.link a{
    display: flex;
    gap: 10px;
}

a img{
    width: 50px;
    height: 50px;
}

#video{
    width: 50px;
    height: 40px;
}

#lucas{
    margin-top: 20px;
}

#kauane{
    margin-top: 20px;
}

.link:hover{
    /* background-color: rgb(0, 204, 255); */
    background-color: #afc8e1;
    cursor: pointer;
    justify-content: space-around;
    transition: 1s;
}

/*INICIO*/
#portfolioTitulo{
    color: #27507A;
}

.tudo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.ftinicio{
    border: 1px solid #27507A;
}